[submodule "Resources/public/vendor/vie"]
	path = Resources/public/vendor/vie
	url = https://github.com/liip/VIE.git
[submodule "Resources/public/vendor/hallo"]
	path = Resources/public/vendor/hallo
	url = https://github.com/liip/hallo.git
[submodule "Resources/public/vendor/create"]
	path = Resources/public/vendor/create
	url = https://github.com/liip/create.git
[submodule "Resources/public/vendor/jquery-tags-input"]
	path = Resources/public/vendor/jquery-tags-input
	url = https://github.com/liip/jQuery-Tags-Input.git
