[submodule "vendor/vie"]
	path = vendor/vie
	url = https://github.com/liip/VIE.git
[submodule "vendor/hallo"]
	path = vendor/hallo
	url = https://github.com/liip/hallo.git
[submodule "vendor/create"]
	path = vendor/create
	url = https://github.com/liip/create.git
[submodule "vendor/jquery-tags-input"]
	path = vendor/jquery-tags-input
	url = git@github.com:liip/jQuery-Tags-Input.git
