.hallotoolbar {
    z-index: 500;
}

/* Toolbar General */
/*******************
.hallotoolbar .ui-state-default{
    border: none;
}

.hallotoolbar .ui-button{
    margin: 0 0 0 1px;
    color: #fff;
    box-shadow: none;
    height: 33px;
    width: 26px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

.hallotoolbar .ui-button-text-only .ui-button-text{
    padding: 0;
    margin: 0;
}

.hallotoolbar .ui-button-text .ui-button-text{
    display: block;
    height: 22px;
    width: 17px;
    margin: 0;
    padding: 0;
    text-indent: 1000px;
    overflow: hidden;
}

.hallotoolbar .ui-buttonset{
    display: inline-block;
    margin: 0;
}

/* Button Rows */
/**************
.hallotoolbar .halloButtonrow {
    background-color: #000000;
}

.hallotoolbar .halloButtonrow-1 {
    padding: 0px 5px;
}

/* Only apply this block if there is another line in the toolbar */
/* TODO: decide on the multirow thing */
.hallotoolbar .halloButtonrow-1:not(:last-child) {
    background-color: #272727;
    text-align: right;
    width: auto;
    float: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hallotoolbar .halloButtonrow-1:last-child {
    border-top-right-radius: 5px;
}

.hallotoolbar .halloButtonrow:last-of-type {
    border-top-left-radius: 5px;
}

.hallotoolbar .halloButtonrow-2 .ui-buttonset {
    background: url('/bundles/liipvie/img/stripe.png') no-repeat right 5px;
    padding: 0 6px 0 5px;
}

/* Dialog styling */
/******************
.ui-dialog {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 3px solid black;
    border-radius: 5px;
    overflow: visible;
}

.ui-dialog .ui-dialog-titlebar {
    background: #000000;
    color: white;
    padding: 5px 10px;
    border: none;
}

.ui-dialog .ui-dialog-title {
    font-weight: normal;
    text-shadow: none;
}

.ui-dialog .tabs {
    margin-left: 0;
    margin-bottom: 0;
}

.ui-dialog .tabs li {
    line-height: 30px;
}

/* Close button
.ui-dialog .ui-dialog-titlebar-close {
    background: url('/bundles/liipvie/img/close_button.png') no-repeat 0 -25px;
    top: -2px;
    right: -11px;
    width: 25px;
    height: 25px;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background-position: 0 0;
}

.ui-dialog input[type="submit"] {
    border: 1px solid #01add2;
    height: 30px;
    position: relative;
    background-color: #01add2;
    color: white;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
}

/* Drag n Drop */
/* TODO: get rid of this when https://github.com/bergie/hallo/pull/36 is merged */
[contenteditable] .tmp {
    opacity: 0.3
}

[contenteditable] .tmpLine{
    background-color: #ffffff;
    width: 98%;
    height: 2px;
    margin: 0 auto 10px auto;
    border-top: 2px solid #1cb8d6;
    border-bottom: 2px solid #1cb8d6;
    opacity: 1;
    padding: 1px;
}

.bigOverlay, .smallOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(28, 184, 214, 0.4);
}

.bigOverlayRight{
    display : block;
    border-right : 3px dashed rgb(28, 184, 214);
    border-left : none;
}

.bigOverlayLeft{
    display : block;
    border-left : 3px dashed rgb(28, 184, 214);
    border-right : none;
}

.smallOverlayLeft{
   border-right : 3px dashed rgb(28, 184, 214);
}

.smallOverlayRight{
    border-left : 3px dashed rgb(28, 184, 214);
}

.ui-draggable{
    cursor: move;
}

.ui-draggable-dragging{
    border: 3px solid white;
}

[contenteditable] img.ui-state-disabled {
    opacity: 1;
}

.customHelper{
    background-size: cover;
    width: 100px;
    height: 100px;
    z-index: 1050;
}

.trashcan{
    width: 50px;
    height: 50px;
    position: relative;
    top: 25px;
    left: 25px;
    background: rgba(0,0,0,0.8) url('/bundles/liipvie/img/trash.png') no-repeat 12px 12px;
    border-radius: 10px;
    cursor: none;
}

/** LINK DIALOG **/
.hallolink-dialog .ui-dialog-content {
    padding-top: 1em;
}

.hallolink-dialog form {
    display: table;
    margin: auto;
}

.hallolink-dialog form input[name=name] {
    width: 330px;
    margin-bottom: 7px;
}

.hallolink-dialog form input[name=url] {
    width: 330px;
}

.hallolink-dialog form input[type=submit] {
    position: relative;
    top: -1px;
    left: -1px;
}
