
/* Editable elements */
[contenteditable]{
    position: relative;
    outline: none;
    padding: 5px 5px 0;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

[contenteditable]:hover{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

[contenteditable].inEditMode{
    cursor: text;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 20px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Toolbar */
.halloToolbar{
    width: 800px;
    background: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* Overriding jQuery UI css styles */
.halloToolbar .ui-state-default{
    border: none;
}

.halloToolbar .ui-button{
    margin: 0 0 0 1px;
    color: #fff;
    box-shadow: none;
    height: 33px;
    width: 26px;
}

.halloToolbar .ui-button-text-only .ui-button-text{
    padding: 0;
    margin: 0;
}

.halloToolbar .ui-button-text .ui-button-text{
    display: block;
    height: 22px;
    width: 17px;
    margin: 0;
    padding: 0;
    text-indent: 1000px;
    overflow: hidden;
}

.halloToolbar .ui-buttonset{
    display: block;
    float: left;
    padding: 0 5px 0;
}

.halloToolbar .ui-buttonset:last-child{
    border-right: 0;
}


.editButton{
    outline: none;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 3px 25px 2px 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8) url(/bundles/liipvie/img/editIcon.png) no-repeat 36px 3px;
}

.inEditMode .editButton{
    display: none;
}

/* Buttons */
.ui-buttonset .ui-button.ui-state-active{ background: none; }
.halloToolbar .ui-buttonset .bold_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -144px -34px; }
.halloToolbar .ui-buttonset .bold_button.ui-state-active{ background-position: -144px 0; }

.halloToolbar .ui-buttonset .italic_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -171px -34px; }
.halloToolbar .ui-buttonset .italic_button.ui-state-active{ background-position: -171px 0; }

.halloToolbar .ui-buttonset .underline_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -199px -34px; }
.halloToolbar .ui-buttonset .underline_button.ui-state-active{ background-position: -199px 0; }

.halloToolbar .ui-buttonset .Unordered_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -254px -34px; }
.halloToolbar .ui-buttonset .Unordered_button.ui-state-active{ background-position: -254px 0; }

.halloToolbar .ui-buttonset .Left_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -298px -34px; }
.halloToolbar .ui-buttonset .Left_button.ui-state-active{ background-position: -298px 0; }

.halloToolbar .ui-buttonset .Center_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -327px -34px; }
.halloToolbar .ui-buttonset .Center_button.ui-state-active{ background-position: -327px 0; }

.halloToolbar .ui-buttonset .Right_button{ background: url(/bundles/liipvie/img/buttons.png) no-repeat -357px -34px; }
.halloToolbar .ui-buttonset .Right_button.ui-state-active{ background-position: -357px 0; }



#savebutton{
    background: #222;
    display: none;
    padding: 5px 10px 6px;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 15px 0 0;
}

#savebutton:hover{
    background-color: #111;
    color: #fff;
}

